<div class="archive-date-picker">
  <span>Перейти к дате:</span>
  <input id="datetimepicker" type="text" >
  <hr>
</div>
<%= render partial: 'archive_form'%>
<hr>
<%= submit_tag 'Сохранить в задаче',
  onclick: "$('.archive-form').submit()",
  class: 'archive-submit-button'%>
