<p>
  <label for="settings_telegram_bot_token">Bot Token</label>
  <%= text_field_tag 'settings[bot_token]', @settings['bot_token'], size: 50 %>
</p>
<p>
  <label>
    <%= t 'redmine_chat_telegram.settings.daily_report' %>
  </label>
  <%= check_box_tag 'settings[daily_report]', '1', @settings['daily_report'] %>
</p>
<%= hidden_field_tag 'settings[bot_name]', @settings['bot_name'] %>
