<p>
  <label for="settings_telegram_bot_token">Bot Token</label>
  <%= text_field_tag 'settings[bot_token]', @settings['bot_token'], size: 50 %>
</p>
<p>
  <label for="settings_telegram_bot_name">Bot Name</label>
  <%= text_field_tag 'settings[bot_name]', @settings['bot_name'], size: 50 %>
</p>