.telegram-archive-modal{
  background: #fff;
  position: fixed;
}
.telegram-message-text{
  margin-top: 5px;
  padding-left: 68px;
}

.archive-form{
  display: block;
  overflow: auto;
}

.archive-date-picker{
  height: 40px;
}

.message-date{
  border:0px;
  border-top:1px solid gray;
  text-align: center;
  margin: 10px 0;
}
