.telegram-archive-modal{
  background: #fff;
  position: fixed;
}

.archive-form{
  display: block;
  overflow: auto;
}

.archive-date-picker{
  height: 40px;
}


.telegram-message{
  padding: 15px 0px;
}

.telegram-message time{
  float: right;
  color: #adadad;
  font-size: .85em;
}

.telegram-message input[type=checkbox]{
  float: left;
  width: 40px;
  height: 40px;
}

.telegram-message-body{
  display: block;
  overflow: hidden;
}

.telegram-message-author{
  margin: 1px 0 4px;
  display: inline-block;
  color: #b7635d;
  font-weight: 700;
}

.telegram-message-text{
  line-height: 150%;
}

.telegram-author-photo{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 15px 0 0;
  float: left;
}

.telegram-author-photo span{
  line-height: 42px;
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #80d066;
}

.telegram-system-message{
  display: block;
  min-width: 10px;
  padding: 4px 7px;
  line-height: 1.4;
  color: #999;
  text-align: center;
  margin: 5px 0;
  font-size: 0.85em;
}
