<% if @project.module_enabled?(:chat_telegram) %>
  <div id="telegram-link" style="float: right;">
    <% if @issue.telegram_chat_url.present? %>
      <%= render 'telegram_group_chats/links' %>
    <% else %>
      <% if User.current.logged? and
          (@project.everybody_can_create_telegram_group? or User.current.allowed_to?(:create_telegram_chat, @project)) %>
        <%= link_to telegram_group_chats_path(issue_id: @issue.id), method: :post, remote: true do %>
          <%= image_tag '/plugin_assets/redmine_chat_telegram/images/telegram-inactive-icon.png' %>
          Создать чат Telegram
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
